@model Venta

@using (Html.BeginForm("Create", "Sales", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.FechaVenta)
        @Html.TextBoxFor(model => model.FechaVenta, new { @class = "form-control", @readonly = "readonly", id = "fechaVenta" })
        @Html.ValidationMessageFor(model => model.FechaVenta)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdCliente)
        @Html.DropDownListFor(model => model.IdCliente, ViewBag.Clientes as SelectList, "-- Seleccionar Cliente --", new { @class = "form-control", id = "cliente"})
        @Html.ValidationMessageFor(model => model.IdCliente)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdProducto)
        @Html.DropDownListFor(model => model.IdProducto, ViewBag.Productos as SelectList, "-- Seleccionar Producto --", new { @class = "form-control", id = "ddlProductos" })
        @Html.ValidationMessageFor(model => model.IdProducto)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cantidad)
        @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", id = "cantidad"})
        @Html.ValidationMessageFor(model => model.Cantidad)
    </div>


    <!-- Campos existentes -->
    <!-- Campos para los productos -->
    <h4>Productos</h4>
    <table id="tablaProductos" class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>

        <tfoot>

        </tfoot>
    </table>

    <!-- Botón para agregar más productos -->
    
    <div class="form-group p-2">
        <button type="button" id="btnAddProduct" class="btn btn-primary">Agregar Producto</button>
        <button type="button" id="btnGuardarVenta"  class="btn btn-success">Guardar Venta</button>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var total = 0;

            $(document).on("click", "#btnAddProduct", function () {
                var productoSeleccionado = $("#ddlProductos").val();
                var nombreProducto = $("#ddlProductos option:selected").text();
                var cantidad = $("#cantidad").val();
                var precioProducto;


                if (productoSeleccionado) {
                    $.ajax({
                        url: "Products/getProducto",
                        type: "GET",
                        data: { idProducto: productoSeleccionado },
                        success: function (response) {
                            console.log(response)
                            precioProducto = parseFloat(response.precioUnitario);

                            var fila = "<tr><td>" + nombreProducto +
                                "</td> <td>" + cantidad +
                                "</td> <td> Q" + precioProducto +
                                "</td> <td> Q" + precioProducto * cantidad +
                                "</td> <td><input type='hidden' name='ProductosSeleccionados' value='" + productoSeleccionado +
                                "' /></td></tr>";

                            $("#tablaProductos tbody").append(fila);

                            total = total + (precioProducto * cantidad);
                            console.log(total);

                            $("#tablaProductos tfoot").html("");
                            var totalFoot = "<tr><td> Total Compra </td> <td> Q" + total + "</td>"
                            $("#tablaProductos tfoot").append(totalFoot);

                        }, error: function (xhr, status, error) {
                            // Manejar el error de la solicitud AJAX
                            console.log("Error al obtener el precio del producto: " + error);
                        }
                    })



                    console.log(precioProducto);


                }
            });

            $(document).on("click", "#btnGuardarVenta", function () {

                console.log("metooodo")
                // Crear un array para almacenar los productos seleccionados
                var productosSeleccionados = [];

                var cliente = $("#cliente").val();
                var fecha = $("#fechaVenta").val();
                var total;

                $("#tablaProductos tfoot tr").each(function () {
                    total = $(this).find("td:eq(1)").text().trim();
                    total = parseFloat(total.replace('Q', ''));
                })

                console.log(total)

                $("#tablaProductos tbody tr").each(function () {
                    var productoSeleccionado = $(this).find("input[name='ProductosSeleccionados']").val();
                    var cantidad = $(this).find("td:eq(1)").text();
                    var subtotal = $(this).find("td:eq(3)").text().trim();
                    subtotal = parseFloat(subtotal.replace('Q', ''))

                    // Crear un objeto con los datos del producto
                    var producto = {
                        idProducto: productoSeleccionado,
                        cantidad: cantidad,
                        subtotal: subtotal
                    };

                    //// Agregar el producto al array
                    productosSeleccionados.push(producto);
                })

                        var object = {
                    cliente: cliente,
                    fechaCompra: fecha,
                    totalVenta: total,
                    productos: productosSeleccionados
                }

                console.log(object);

                $.ajax({
                    url: "Sales/Create",
                    type: "POST",
                    data: { newVenta : object},
                    success: function (response) 
                    {
                        console.log("Se agrego correctamente", response)
                    },
                    error: function (error) 
                    {
                        console.log(error)
                    }
                })
            });
            
        });
    </script>

}


